---
---

@import "{{ site.theme }}";
.wrapper {
  width: 70%;
}
header, footer {
  width: 33.3%;
}
section {
  padding: 0 1rem;
  width: 66,6%
}
footer { text-align: right; }
img { border-radius: 0.5rem; }
@media print, screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
  }
  footer { text-align: left },
}
@media print {    
  img { display: none !important; }
}
