---
---

@import "{{ site.theme }}";
.wrapper {
  width: 70%;
}
section {
  position: absolute;
  width: 38vw;
  float: none;
  padding: 0 1rem;
  left: 40%;
}
header, footer {
  position: fixed;
  float: none;
  right: 60%;
  padding-right: 1rem;
}
footer { text-align: right; }
img { 
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
@media print, screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
  }
  section {
    position: relative;
    width: 100%;
    padding: 0 0 6rem;
    left: 0;
  }
  header, footer {
    position: relative;
    right: 0;
    padding-right: 0;
    text-align: left;
  }
}
@media print {    
  img { display: none !important; }
}
